html, body {
    margin: 0;
    padding: 0;

}

main div.timer {
    /* margin: 0;
    padding: 0; */
    box-sizing: border-box;
    display: inline-block;
    width: 100vw;
    height: 45vh;
    
}

div.holder {
    display: flex;
    align-items: center;
    justify-content: center;
}

div.timer {
    display: flex;
    place-items: center;
    margin: auto;
    max-width: 90vw;
}

div.timer input {
    width: 70px;
    height: 40vh;
    /* max-height: 30px; */
    padding: 0%;
}

main div#middleBar {
    height: 10vh;
    /* background-color: #A7754D; */

    /* background-color: #e7c246;
    background-color: #fcd75c; */

    background-color: hsl(150, 100%, 22%);
    /* background-color: rgb(255, 154, 105); */
}

div.top-clock {
    /* background-color: #598392;
    background-color: #124559; */

    /* background-color: #768948; */
    /* background-color: #34623F; */

    background-color: hsl(148, 100%, 15%);
    /* 79, 0, 11 */
    /* background-color: #FF7F51;  */
    /* 255, 127, 81 */
}

div.bottom-clock {
    /* background-color: #AEC3B0;
    background-color: #EFF6E0; */
/* 
    background-color: #607744; */
    /* background-color: #1E2F23; */

    background-color: hsl(141, 67%, 34%);
    /* 206, 66, 87 */
    /* background-color: #ffb682;  */
    /* 255, 182, 130 */
}

#middleBar button {
    margin: auto;
    width: 50%;
}

.submitButton {
    /* padding: 8px 16px; */
    margin: 5px auto;
    cursor: pointer;
    min-width: 80px;
    height: 10vh;
    max-height: 30px;
}

div.submit {
    align-content: end;
}

div.submit * {
    border-style: solid;
    border-color: rgb(119, 125, 125);
    background-color: rgb(246, 249, 248);
    max-height: 30px;
    box-sizing: border-box;
    /* padding-top: 5px; */
    border-radius: 4px;
}

div.submit input {
    text-align: left;
}