html, body {
    margin: 0;
    padding: 0;

}

main div.timer {
    /* margin: 0;
    padding: 0; */
    box-sizing: border-box;
    display: inline-block;
    width: 100vw;
    height: 45vh;
    
}

div.holder {
    display: flex;
    align-items: center;
    justify-content: center;
}

div.timer {
    display: flex;
    place-items: center;
    margin: auto;
    max-width: 90vw;
}

div.timer input {
    width: 70px;
    height: 40vh;
    /* max-height: 30px; */
    padding: 0%;
}

main div#middleBar {
    height: 10vh;

    background-color: #c0cfb2;
    /* background-color: #8ca78a; */
}

div.top-clock {
    background-color: #8ca78a;
    /* background-color: #48644d; */
}

div.bottom-clock {
    background-color: #ecede8;
    /* background-color: #c0cfb2; */

}

#middleBar button {
    margin: auto;
    width: 50%;
}

.submitButton {
    /* padding: 8px 16px; */
    margin: 5px auto;
    cursor: pointer;
    min-width: 80px;
    height: 10vh;
    max-height: 30px;
}

div.submit {
    align-content: end;
}

div.submit * {
    border-style: solid;
    border-color: rgb(119, 125, 125);
    background-color: rgb(246, 249, 248);
    max-height: 30px;
    box-sizing: border-box;
    /* padding-top: 5px; */
    border-radius: 4px;
}

div.submit input {
    text-align: left;
}